.dashboard{
    -fx-background-color: #ffbd59;
    -fx-background-radius: 0 10 10 0;
}
.menu-button {
    -fx-padding: 5;
    -fx-alignment: CENTER_LEFT;
}

.menu-button:hover{
    -fx-background-radius: 0 10 10 0;
}

.menu-button:selected {
    -fx-background-color: #ff9f1a;
    -fx-text-fill: white;
    -fx-background-radius: 0 10 10 0;
}